<!DOCTYPE html>
<html>
  <head>
    <title>MainLine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="chessboard.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,500,700">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
    <script src="vue-chessboard.browser.js"></script>
    <script src="axios.min.js"></script>
  </head>
  <body>

    <div id="app">
      <div id="settings" v-if="showSettings">
        <div>
          <div><strong>Settings</strong></div><br>
          <select v-model="settings.startPosition" @input="validateFen">
            <option v-for="option in startPositionOptions" :value="option.value">{{option.label}}</option>
          </select>
          <div><input type="text" v-model="settings.startPosition" @blur="validateFen"></div>
          <div class="validation-error" v-if="showStartPositionValidationError">Invalid FEN</div>
          <div>
            <input type="radio" id="white" v-model="settings.playerColor" value="white"><label for="white">White</label>
            <input type="radio" id="black" v-model="settings.playerColor" value="black"><label for="black">Black</label>
          </div>
          <div>
            <input type="radio" id="master" v-model="settings.database" value="master"><label for="master">GM</label>
            <input type="radio" id="lichess-2000" v-model="settings.database" value="lichess-2000"><label for="lichess-2000">> 2000</label>
            <input type="radio" id="lichess-1800" v-model="settings.database" value="lichess-1800"><label for="lichess-1800">> 1800</label>
            <input type="radio" id="lichess-1600" v-model="settings.database" value="lichess-1600"><label for="lichess-1600">> 1600</label>
          </div>
          <div>
            <input type="radio" id="realistic" v-model="settings.opponent" value="realistic"><label for="realistic">Realistic</label>
            <input type="radio" id="main" v-model="settings.opponent" value="main"><label for="main">Main Line</label>
            <input type="radio" id="equal" v-model="settings.opponent" value="equal"><label for="equal">Random</label>
          </div>
          <div style="text-align: right"><button class="ok" @click="applySettings">OK</button></div>
        </div>
      </div>
      <div id="distribution">
        <div class="white" v-if="currentResultsDistribution" :style="{width: 100*currentResultsDistribution.white + '%'}"></div>
        <div class="draw" v-if="currentResultsDistribution" :style="{width: 100*currentResultsDistribution.draw + '%'}"></div>
        <div class="black" v-if="currentResultsDistribution" :style="{width: 100*currentResultsDistribution.black + '%'}"></div>
      </div>
      <div id="evaluation">
        <div class="white" v-if="currentEvaluation !== null" :style="{width: (0.166*currentEvaluation + 50) + '%'}"></div>
        <div class="black" v-if="currentEvaluation !== null" :style="{width: (-0.166*currentEvaluation + 50) + '%'}"></div>
      </div>
      <opening-chessboard ref="chessboard"
        :fen="startPosition" 
        :orientation="playerColor" 
        :database="settings.database"
        :opponent="settings.opponent"
        :event="event" 
        @progress="refreshProgress"
        @distribution="refreshDistribution"
        @evaluation="refreshEvaluation"
        @opening="refreshOpeningName"
        @move="addMoveToList"
        @mistake="onWrongMove"
        @hopeless="onHopelessPosition"
        @middlegame="onMiddlegameReached">
      </opening-chessboard>
      <div class="button-line">
        <button @click="undo">&lt;&lt;</button>
        <button @click="newGame">New</button>
        <button @click="openSettings">Settings</button>
        <button @click="openOnLichess">Analyze</button>
      </div>
      <div id="info">{{currentOpeningName}}</div>
      <div>
        <div>
          <span>#Played: {{currentPositionPlayed}}</span>
          <span style="margin: 0 16px"></span>
          <span>Lifes: {{lifes}}</span>
        </div>
        <div id="moves">
          <div v-for="no in moveNoList" class="move-no" 
            :style="{'grid-row': 100-no}">{{no}}.</div>
          <div v-if="!!moves[0] && moves[0].moveColor === 'b'" class="move-placeholder"
            :style="{'grid-row': 100-moves[0].moveNo}">...</div>
          <div v-for="move in moves" class="move" @click="showAlternatives(move.alternatives)"
            :style="{'grid-column': move.moveColor === 'w' ? 2 : 3, 'grid-row': 100-move.moveNo}">
            <span>{{move.text}}</span>
            <span v-if="move.isPlayerMove">{{formatStrength(move.strength)}}</span>
            <span>{{formatPercentage(move.probability)}}</span>
          </div>
        </div>
      </div>
    </div>

    <script>
const openingChessboard = {
  extends: VueChessboard.chessboard,
  props: ['event', 'database', 'opponent'],
  watch: {
    event(event) {
      if (event.type === 'lichess') {
        window.open('https://lichess.org/analysis?fen=' + this.game.fen(), '_blank');
      } else if (event.type === 'undo') {
        this.undo();
      } else if (event.type === 'new') {
        this.restartPosition();
      }
    }
  },
  methods: {
    restartPosition() {
      this.loadPosition();
      this.startPosition();
    },
    startPosition() {
      if (this.orientation.startsWith(this.game.turn())) {
        this.preparePlayerMove();
      } else {
        this.prepareOpponentMove();
      }
    },
    async preparePlayerMove() {
      await this.getOpeningInfo();
      await this.getEvaluation();
      if (this.openingInfo.moves.every(m => m.strength === 0) && this.openingInfo.played >= 3) {
        this.board.set({turnColor: null, movable: false});
        this.$emit('hopeless');
        return;
      } else if (this.openingInfo.played < 10) {
        this.board.set({turnColor: null, movable: false});
        this.$emit('middlegame');
        return;
      }
      this.board.set({
        turnColor: this.toColor(),
        movable: {
          color: this.toColor(),
          dests: this.possibleMoves(),
          events: {after: this.onMoveInput}
        }
      });
    },
    async getOpeningInfo() {
      const [database, minElo] = this.database.split('-');
      const queryOptions = {};
      if (database === 'lichess') {
        queryOptions.variant = 'standard';
        queryOptions.ratings = ['1600', '1800', '2000', '2200', '2500'].filter(elo => elo >= minElo);
        queryOptions.speeds = ['blitz', 'rapid', 'classical'];
      }
      const fen = this.game.fen();
      const response = await axios.get('https://explorer.lichess.ovh/' + database, 
        {params: {fen, moves: 20, ...queryOptions}});
      const openingInfo = response.data;
      const sum = openingInfo.white + openingInfo.black + openingInfo.draws;
      this.$emit('progress', sum);
      this.$emit('distribution', {
        white: openingInfo.white / sum,
        draw: openingInfo.draws / sum,
        black: openingInfo.black / sum,
      });
      openingInfo.played = sum;
      const losingThreshold = this.database === 'master' ? 0.5 : 0.7;
      openingInfo.isLosing = sum > 0 && ((this.game.turn() === 'w' ? openingInfo.black : openingInfo.white) / sum) > losingThreshold;
      const moveNumber = this.getMoveNumber();
      openingInfo.moves.forEach(m => m.moveNo = moveNumber);
      const moveColor = this.game.turn();
      openingInfo.moves.forEach(m => m.moveColor = moveColor);
      openingInfo.moves.forEach(m => m.isPlayerMove = this.orientation.startsWith(moveColor));
      openingInfo.moves.forEach(m => m.text = this.getTextForSan(m.san));
      openingInfo.moves.forEach(m => m.played = m.white + m.black + m.draws);
      openingInfo.moves.forEach(m => m.probability = (sum > 0) ? m.played / sum : 0);
      openingInfo.moves.forEach(m => m.isLosing = 
        m.played > 0 && ((moveColor === 'w' ? m.black : m.white) / m.played) > losingThreshold);
      openingInfo.moves.forEach((m, i) => m.strength = 
        ((m.isLosing || m.probability < 0.03) ? 0 // bad
          : (i === 0) ? 4                         // top
          : (m.probability > 0.2) ? 3             // good
          : (m.probability > 0.1) ? 2             // ok
          : 1));                                  // playable
      openingInfo.moves.forEach(m => m.alternatives = openingInfo.moves);
      this.openingInfo = openingInfo;
      console.log(openingInfo.moves.map(m => [m.text, m.probability, m.isLosing, m.strength]));
      const categorization = this.openingInfo.opening;
      if (!!categorization) {
        this.$emit('opening', `${categorization.eco} - ${categorization.name}`);
      }      
    },
    async getEvaluation() {
      let evaluation = null;
      try {
        const fen = this.fixFenForLichessCloudEvalApi(this.game.fen());
        const response = await axios.get('https://lichess.org/api/cloud-eval', {params: {fen}});
        evaluation = response.data.pvs[0].cp;
      } catch(e) {
        console.warn('error getting evaluation for ' + this.game.fen());
      }
      this.$emit('evaluation', evaluation);
    },
    fixFenForLichessCloudEvalApi(fen) {
      const fenParts = fen.split(' ');
      const enPassantPart = fenParts[3];
      const canEnPassant = this.game.moves({verbose: true}).some(m => m.flags.includes('e'));
      if (enPassantPart === '-' || canEnPassant) {
        return fen;
      }
      fenParts[3] = '-';
      return fenParts.join(' ');
    },
    onMoveInput(from, to) {
      const performedMove = this.game.move({from, to});
      const san = performedMove.san;
      const playedMove = this.openingInfo.moves.find(m => m.san === san)
        || {san, text: this.getTextForSan(san), alternatives: this.openingInfo.moves, strength: 0};
      const strength = playedMove.strength;
      this.setLastMoveHighlightColor(strength);
      if (strength === 0) {
        this.game.undo();
        this.board.set({fen: this.game.fen()});
        this.$emit('mistake', playedMove);
        this.preparePlayerMove();
      } else {
        this.setLastMoveHighlightColor(strength);
        this.$emit('move', playedMove);
        this.prepareOpponentMove();
      }
    },
    async prepareOpponentMove() {
      this.board.set({
        turnColor: this.toColor(),
        premovable: {enabled: false}
      });
      await this.getOpeningInfo();
      await this.getEvaluation();
      if (!this.openingInfo?.moves?.length) {
        this.$emit('middlegame');
        return;
      }
      setTimeout(this.performOpponentMove, 500);
    },
    async performOpponentMove() {
      const opponentMove = this.getMoveForOpponent(this.opponent);
      const movePerformed = this.game.move(opponentMove.san);
      this.$emit('move', opponentMove);
      this.setLastMoveHighlightColor(opponentMove.strength);
      this.board.move(movePerformed.from, movePerformed.to);
      this.preparePlayerMove();
    },
    getMoveForOpponent(mode) {
      const moves = this.openingInfo.moves;
      if (mode === 'main') {
        return moves[0];
      } else if (mode === 'equal') {
        const playableMoves = moves.filter(m => m.probability >= 0.02);
        return playableMoves[Math.floor(Math.random() * playableMoves.length)];
      } else if (mode === 'realistic') {
        let countdown = Math.random();
        for (let i = 0; i < moves.length; ++i) {
          const move = moves[i];
          countdown -= move.probability;
          if (countdown <= 0) {
            return move;
          }
        }
      }
      return moves[0];
    },
    undo() {
      this.game.undo();
      this.game.undo();
      this.board.set({fen: this.game.fen()});
      this.preparePlayerMove();
    },
    setLastMoveHighlightColor(strength) {
      let color = 'default';
      if (strength === 0) {
        color = 'red';
      } else if (strength === 1) {
        color = 'yellow';
      } else if (strength === 2) {
        color = 'lightgreen'
      } else if (strength === 4) {
        color = 'green';
      }
      document.getElementById('app').className = color === 'default' ? '' : 'last-move-' + color;
    },
    getMoveNumber() {
      return parseInt(this.game.fen().split(' ')[5]);
    },
    getTextForSan(san) {
      return san.replace('Q','D').replace('R','T').replace('B','L').replace('N','S');
    },
  },
  created() {
    this.openingInfo = null;
  },
  mounted() {
    this.startPosition();
  }
};

const app = new Vue({
  el: '#app',
  components: {
    'opening-chessboard': openingChessboard,
  },
  data: {
    settings: {
      startPosition: 'rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1',
      playerColor: 'white',
      database: 'master',
      opponent: 'realistic',
    },
    showSettings: false,
    startPositionOptions: [
      {label: 'Start', value: 'rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1'},
      {label: 'Open Game', value: 'rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq - 0 2'},
      {label: 'Sicilian', value: 'rnbqkbnr/pp1ppppp/8/2p5/4P3/8/PPPP1PPP/RNBQKBNR w KQkq - 0 2'},
      {label: 'Modern Sicilian Bishop Game', value: 'rnbqkbnr/pp2pppp/3p4/2p5/2B1P3/5N2/PPPP1PPP/RNBQK2R b KQkq - 1 3'},
      {label: 'Chekhover Variation', value: 'rnbqkbnr/pp2pppp/3p4/8/3QP3/5N2/PPP2PPP/RNB1KB1R b KQkq - 0 4'},
      {label: 'Najdorf', value: 'rnbqkb1r/1p2pppp/p2p1n2/8/3NP3/2N5/PPP2PPP/R1BQKB1R w KQkq - 0 6'},
      {label: 'Classical Sicilian', value: 'r1bqkb1r/pp2pppp/2np1n2/8/3NP3/2N5/PPP2PPP/R1BQKB1R w KQkq - 3 6'},
      {label: 'Keres Attack', value: 'rnbqkb1r/pp3ppp/3ppn2/8/3NP1P1/2N5/PPP2P1P/R1BQKB1R b KQkq - 0 6'},
      {label: 'Dragon', value: 'rnbqkb1r/pp2pp1p/3p1np1/8/3NP3/2N5/PPP2PPP/R1BQKB1R w KQkq - 0 6'},
      {label: 'Accelerated Dragon', value: 'r1bqkbnr/pp1ppp1p/2n3p1/8/3NP3/8/PPP2PPP/RNBQKB1R w KQkq - 0 5'},
      {label: 'Rossolimo Attack', value: 'r1bqkbnr/pp1ppppp/2n5/1Bp5/4P3/5N2/PPPP1PPP/RNBQK2R b KQkq - 3 3'},
      {label: 'Kalashnikov', value: 'r1bqkbnr/pp1p1ppp/2n5/4p3/3NP3/8/PPP2PPP/RNBQKB1R w KQkq - 0 5'},
      {label: 'Sveshnikov', value: 'r1bqkb1r/pp1p1ppp/2n2n2/4p3/3NP3/2N5/PPP2PPP/R1BQKB1R w KQkq - 0 6'},
      {label: 'Alapin', value: 'rnbqkbnr/pp1ppppp/8/2p5/4P3/2P5/PP1P1PPP/RNBQKBNR b KQkq - 0 2'},
      {label: 'Grand Prix Attack', value: 'r1bqkbnr/pp1ppppp/2n5/2p5/4PP2/2N5/PPPP2PP/R1BQKBNR b KQkq - 0 3'},
      {label: 'Morra-Gambit', value: 'rnbqkbnr/pp1ppppp/8/2p5/3PP3/8/PPP2PPP/RNBQKBNR b KQkq - 0 2'},
      {label: 'McDonnell Attack', value: 'rnbqkbnr/pp1ppppp/8/2p5/4PP2/8/PPPP2PP/RNBQKBNR b KQkq - 0 2'},
      {label: 'Modern Defense', value: 'rnbqkbnr/pppppp1p/6p1/8/4P3/8/PPPP1PPP/RNBQKBNR w KQkq - 0 2'},
      {label: 'Russian', value: 'rnbqkb1r/pppp1ppp/5n2/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 2 3'},
      {label: 'Cochrane Gambit', value: 'rnbqkb1r/ppp2Npp/3p1n2/8/4P3/8/PPPP1PPP/RNBQKB1R b KQkq - 0 4'},
      {label: 'Stafford Gambit', value: 'r1bqkb1r/pppp1ppp/2n2n2/4N3/4P3/8/PPPP1PPP/RNBQKB1R w KQkq - 1 4'},
      {label: 'Blackmar Diemer Gambit', value: 'rnbqkbnr/ppp1pppp/8/3p4/3PP3/8/PPP2PPP/RNBQKBNR b KQkq - 0 2'},
      {label: 'Catalan', value: 'rnbqkb1r/pppp1ppp/4pn2/8/2PP4/6P1/PP2PP1P/RNBQKBNR b KQkq - 0 3'},
      {label: 'Benoni', value: 'rnbqkb1r/pp1ppppp/5n2/2p5/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3'},
      {label: 'Ponziani', value: 'r1bqkbnr/pppp1ppp/2n5/4p3/4P3/2P2N2/PP1P1PPP/RNBQKB1R b KQkq - 0 3'},
      {label: 'French Defense', value: 'rnbqkbnr/ppp2ppp/4p3/3p4/3PP3/8/PPP2PPP/RNBQKBNR w KQkq - 0 3'},
      {label: 'Caro Kann', value: 'rnbqkbnr/pp1ppppp/2p5/8/4P3/8/PPPP1PPP/RNBQKBNR w KQkq - 0 2'},
      {label: 'Scandinavian', value: 'rnbqkbnr/ppp1pppp/8/3p4/4P3/8/PPPP1PPP/RNBQKBNR w KQkq - 0 2'},
      {label: 'Philidor Defense', value: 'rnbqkbnr/ppp2ppp/3p4/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3'},
      {label: 'Pirc Defense', value: 'rnbqkbnr/ppp1pppp/3p4/8/4P3/8/PPPP1PPP/RNBQKBNR w KQkq - 0 2'},
      {label: 'Owen Defense', value: 'rnbqkbnr/p1pppppp/1p6/8/4P3/8/PPPP1PPP/RNBQKBNR w KQkq - 0 2'},
      {label: 'Englund Gambit', value: 'rnbqkbnr/pppp1ppp/8/4p3/3P4/8/PPP1PPPP/RNBQKBNR w KQkq - 0 2'},
      {label: 'English', value: 'rnbqkbnr/pppppppp/8/8/2P5/8/PP1PPPPP/RNBQKBNR b KQkq - 0 1'},
      {label: 'Bird', value: 'rnbqkbnr/pppppppp/8/8/5P2/8/PPPPP1PP/RNBQKBNR b KQkq - 0 1'},
      {label: 'Zuckertort', value: 'rnbqkbnr/pppppppp/8/8/8/5N2/PPPPPPPP/RNBQKB1R b KQkq - 1 1'},
    ],
    startPosition: 'rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1',
    playerColor: 'white',
    showStartPositionValidationError: false,
    currentOpeningName: '',
    currentPositionPlayed: 10000000,
    currentResultsDistribution: null,
    currentEvaluation: null,
    progress: 0,
    event: null,
    moves: [],
    wrongMove: null,
    lifes: 3,
  },
  computed: {
    moveNoList() {
      return [...new Set(this.moves.map(m => m.moveNo))];
    },
  },
  methods: {
    openOnLichess() {
      this.emit('lichess');
    },
    undo() {
      this.emit('undo');
    },
    newGame() {
      this.moves = [];
      this.lifes = 3;
      this.currentOpeningName = '';
      this.currentPositionPlayed = 10000000;
      this.currentResultsDistribution = null;
      this.progress = 0;
      this.emit('new');
    },
    emit(event) {
      this.event = {type: event};
    },
    refreshProgress(played) {
      this.currentPositionPlayed = played;
    },
    refreshDistribution(distribution) {
      this.currentResultsDistribution = distribution;
    },
    refreshEvaluation(evaluation) {
      this.currentEvaluation = evaluation === null ? null : Math.min(300, Math.max(-300, evaluation));
    },
    refreshOpeningName(name) {
      this.currentOpeningName = name;
    },
    addMoveToList(move) {
      this.moves.push(move);
      this.wrongMove = null;
    },
    onWrongMove(move) {
      this.wrongMove = move;
      this.lifes -= 1;
      if (this.lifes <= 0) {
        this.lifes = 0;
        setTimeout(this.gameOver, 500);
      }
    },
    gameOver() {
      const bestCandidate = this.wrongMove.alternatives.find(m => m.strength > 0)?.text;
      alert('You lost all your lifes. Start again! Best move in this position is ' + bestCandidate + '.');
    },
    onMiddlegameReached() {
      setTimeout(() => alert('Congrats, you made it into the middlegame!'), 500);
    },
    onHopelessPosition() {
      setTimeout(() => alert('This position is hopeless. Try again!'), 500);
    },
    formatStrength(strength) {
      switch(strength) {
        case 4: return 'TOP';
        case 3: return 'GOOD';
        case 2: return 'OK';
        case 1: return 'PLAYABLE';
        case 0: return 'BAD';
      }
    },
    formatPercentage(p) {
      return `${Math.round(100*p)}%`;
    },
    showAlternatives(moves) {
      const msg = moves
        .filter(m => m.probability >= 0.02)
        .map(m => `${m.text}    ${this.formatStrength(m.strength)}    ${this.formatPercentage(m.probability)} ${m.isLosing ? '(loses often)' : ''}`).join('\n');
      alert(msg);
    },
    openSettings() {
      this.showSettings = true;
    },
    validateFen() {
      this.showStartPositionValidationError = !this.$refs.chessboard.game.validate_fen(this.settings.startPosition).valid;
    },
    applySettings() {
      this.showSettings = false;
      let newGameNeeded = false;
      if (this.showStartPositionValidationError) {
        this.settings.startPosition = this.startPosition;
      } else if (this.settings.startPosition !== this.startPosition) {
        this.startPosition = this.settings.startPosition;
        newGameNeeded = true;
      }
      if (this.settings.playerColor !== this.playerColor) {
        this.playerColor = this.settings.playerColor;
        newGameNeeded = true;
      }
      this.saveSettings();
      if (newGameNeeded) {
        this.newGame();
      }
    },
    saveSettings() {
      localStorage.setItem('settings', JSON.stringify(this.settings));
    },
    loadSettings() {
      const settings = JSON.parse(localStorage.getItem('settings'));
      if (!settings) {
        return;
      }
      this.startPosition = this.settings.startPosition = settings.startPosition;
      this.playerColor = this.settings.playerColor = settings.playerColor;
      this.settings.database = settings.database;
      this.settings.opponent = settings.opponent;
    }
  },
  created() {
    this.loadSettings();
  }
});

    </script>
  </body>
</html>
